body {
    background-color: #FFE9EF; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #646161;
    margin: 0;
    padding: 20px;
    text-align: center;
}

header {
    background-image: url('header.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
    padding: 15px 0;
    margin-bottom: 25px;
    border-radius: 12px;
}

nav a {
    color: #7c7474;
    text-decoration: underline;
    margin: 0 10px;
    font-weight: bold;
}

.text-banner {
    background-color: rgb(255, 255, 255);
    max-width: 600px;
    padding: 10px;
    margin: 15px auto;
    text-align: center;
    border-radius: 8px;
}

.full-row {
    display: flex;
    justify-content: center; 
    align-items: center;   
    gap: 25px;              
    margin: 30px auto;
}

.info-bg {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 250px;
    border-radius: 12px;
    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: top;
    color: rgb(210, 161, 187);

    text-align: center;
    font-family: 'Rockwell', 'Courier New', Courier, monospace, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    box-sizing: border-box;
    color: rgb(210, 161, 187);
}

.profile-chibi {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.page-layout {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.main-page {
    flex: 1;
    max-width: 600px;
}

.side-column{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 130px;
}

.side-column img {
    width: 250%;
    position: sticky;
    height: auto;
    border-radius: 12px;
}

section {
    background-color: #ffffff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    text-align: left;
}

section h2 {
    color: #be8197;
    margin-top: 0;
}

    


